.app {
  display: flex;
  flex-direction: row;
}

.me {
  width: 180px;
  height:auto;
  border-radius: 100px;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 210px;
  background-color:black;
  height:100%;
  align-items: center;
  float: left;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}

*>.menu {
  position: fixed;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}


.title {
  display: flex;
  margin-top: 50px;
  font-size: 40px;
  font-family: Gabriola;
}

.profile_pic {
  display: grid;
  margin-top: 30px;
}

.links {
  display: flex;
  margin-top: 8px;
  font-size: 17px;
  height: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.Profile, .Experiences, .Projects, .Skills, .Education {
  margin:8px;
  min-width: 180px;
  padding: 10px 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius:10px;
  font-family: Franklin Gothic Medium;
}

#not-clicked-button{
  background-color: white;
}

#clicked-button {
  background-color: lightskyblue;
}

.a {
  text-decoration: none;
  color: black;
}

.Profile:hover, .Experiences:hover, .Projects:hover, .Skills:hover, .Education:hover {
  cursor: pointer;
  background-color: lightskyblue;
  color: black;
}

#Profile, #Experiences, #Projects, #Skills, #Education {
  min-height: 100vh;
  min-width: 100vw;
  margin-left: 210px;
}

#Education,  #Skills{
  background-color: AntiqueWhite ;
}

.Profile{
  margin-top:80px;
}

.content-title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 4em;
  font-family: Gabriola;
  margin-left: 5vh;
  padding: 15px;
}

.content-title:before {
  content : "";
  position: absolute;
  width: 70%;
  height: 50px;
  border-bottom:2px groove gray;
}

.content-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 5vh;
  margin-top:30vh;
  padding: 15px;
  width: 70%;
}

.education-college, .education-title {
  display: flex;
  flex-direction: row;
  margin-left: 5vh;
  margin-top:5vh;
  padding: 15px;
  width: 70%;
}

.education-hs {
  display: flex;
  flex-direction: row;
  margin-left: 5vh;
  margin-top:3vh;
  padding: 15px;
  width: 70%;
}

.skill-program, .skill-other {
  display: flex;
  flex-direction: column;
  margin-left: 5vh;
  margin-top: 5vh;
  padding: 15px;
}

.skill-other {
  margin-bottom: 10px;
}

.stars { 
  margin-left:20px;
  color: #22A6BE;
  float:right;
}

.PL {
  list-style-type: none;
  margin-left: 5vh;
  white-space: pre-wrap;
  line-height: 1.7;
}

.DL{
  list-style-type: none;
  margin-left: 5vh;
  white-space: pre-wrap;
  line-height: 1.7;
  margin-bottom: 50px;
}

li {
  width: 300px;
  font-size: 1.25em;
}

.education-title {
  margin-top: 50px;
}

.education-college {
  font-size: 1.5em;
}

p {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 20pt;
}

.college-intro {
  width: 400px;
}

.college-detail {
  margin-left: 7vw;
  width: 80%;
}

.about-title, .education-title, .education-hs, .skill-program, .skill-other, .project-title, .project-title-ctd{
  font-size: 2em;
  color: #22A6BE;
  font-family: Segoe Print;
}


.about-content {
  margin-top: 4vh;
  font-size: 1.5em;
  line-height: 20pt
}

.content-skill {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
}

.content-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5vh;
  margin-top: 5vh;
  min-width: 700px;
  text-align: center;
}

.lyrics {
  width: 400px;
  height:300px;
  margin-top: 20px;
}

.ctd {
  width: 400px;
  height:300px;
  margin-top: 20px;
  
}

.lyrics:hover, .ctd:hover{
  border:solid;
  border-color: aqua;
}

.skill-fao, .skill-pl {
  width: 550px;
}

.project-ctd, .project-lyric{
  width: 490px;
  margin-top: 20px;
}

.email {
 margin-top: 40px;
 font-size: 1.5em;
}

.about .profile_pic, .about .links {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .bar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 90;
  }
  .Profile{
    margin-top: 0px;
    margin-left: 10%;
  }
  .Profile, .Experiences, .Projects, .Skills, .Education {
    margin: 5px;
    min-width: 120px;
  }
  #Profile, #Experiences, #Projects, #Skills, #Education {
    margin-left:0px;
  }
  .about .profile_pic, .about .links {
    display: block;
    margin-bottom: 30px;
  }
  .me {
    border-radius: 0;
  }
  .about {
    margin-top: 100px;
  }
  .bar .title {
    font-size: 2em;
    margin:auto;
  }
  .bar .profile_pic, .bar .links{
    display:none;
  }
  #Profile {margin-top: 100px;}
}

html {font-family: sans-serif}