.bar {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color:#0fa7ff;
  height: 100vh;
  align-items: center;
  float: left;
  position: fixed;
}

html {
  scroll-behavior: smooth;
}

.title {
  display: flex;
  margin-top: 50px;
  font-size: 40px;
  font-family: Gabriola;
}

.links {
  display: flex;
  margin-top: 50px;
  font-size: 17px;
  height: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left:220px;
}

.About_me, .Experiences, .Projects, .Skills {
  margin:10px;
  min-width: 200px;
  padding: 10px 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5482ff;
  border-radius:10px;
  font-family: Franklin Gothic Medium;
}

.a {
  text-decoration: none;
  color: black;
}

.About_me:hover, .Experiences:hover, .Projects:hover, .Skills:hover {
  cursor: pointer;
  background-color: #63c6ff;
}

#About_me, #Experiences, #Projects, #Skills {
  min-height: 800px;
}

.About_me{
  margin-top:100px;
}